body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    padding-bottom: 30px;
    flex-direction: column;
}

*{
    box-sizing: border-box;
}
#container{
    display:flex;
    flex-wrap: wrap;
    height:600px;
    aspect-ratio: 1/1;
    border: 1px solid red;
}
.square{
    aspect-ratio: 1/1;
}
#drawing-area{
    flex:1;
}
#ctrl-panel{
    height:145px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}